body{
    font-family: Arial, sans-serif;
    background: #fbfbfb;
    -webkit-font-smoothing: antialiased !important;
}

.main{
    max-width: 900px;
    margin: 0 auto;
}

div.novo{
    margin-right: 20px;
    padding: 25px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
}

.container{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}

.novo, .lista{
    width: 48%;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 1px 0 3px rgba(0 , 0, 0, 0.2);
}

.lista {
    background: #F0F0F0;
    padding: 25px;
    border-radius: 15px;
}

.lista h2{
    font-weight: 700;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

h1{
    font-weight: 900;
    font-size: 25px;
    color: #000;
    margin-bottom: 10px;
}

.main form{
    width: 100%;
}

.main form div.field{
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.main form div.field input{
    width: 90%;
    background: transparent;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 10px;
    outline: none;
}

.main form div.field strong{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.main form div.field input:focus{
    border-color: #23A0FF;
}

.main form div.form-group{
    margin-bottom: 20px;
}

.main form div.form-group label{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
}

.main form div.form-group select{
    width: 90%;
    background: transparent;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 10px;
    outline: none;
}

.main form div.form-group select:focus{
    border-color: #23A0FF;
}
 
main div.btn-actions{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main div.btn-actions button{
    width: 200px;
    padding: 12px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background: #23A0FF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.field input:focus {
    border-color: #23a0ff;
}

.btn-actions button:hover {
    background: #0990f7;
}

#lista-produto {
    margin-top: 20px;
}

.product-item {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    flex-direction: column;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.delete-btn {
    background-color: #ff3333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.edite-btn{
    margin-right: 5px;
    background-color: #257013;
    color: rgb(241, 239, 239);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
.container {
    flex-direction: column;
    padding: 0 10px;
}

.novo, .lista{
    width: 100%;
    margin-bottom: 20px;
}

.main form div.field input{
    width: calc(100% - 20px);
}

main div.btn-actions button{
    width: (100% - 20px);
}

.main form div.field strong{
    font-size: 16px;
}

.novo, .lista{
    order: 2;
}

#toggle{
    display: block;
    text-align: center;
    margin-top: 20px;
}
}
